Algerian Forest Fires Dataset Project EDA


UNDERSTANDING THE PROJECT

1. Import the dataset.
https://archive.ics.uci.edu/ml/datasets/Algerian+Forest+Fires+Dataset++# 
2. Do proper EDA(analysis) of your dataset and create a report 
3. Then perform necessary preprocessing steps 
4. Then create a classification and regression model for a given dataset 
5. For regression use linear regression, ridge and lasso regression 
6. In classification models try to use logistic regression, SVM, decisiontree, naive bayes and random forest along with hyperparameter tuning

API Testing:
  1. Create a flask API for testing your model(via postman) or you can create an HTML page
  2. When creating the API, we will have to perform single value prediction as well as bulk prediction.
  3. We will load our data via mongo db or mysql(for bulk prediction).
  4. We will perform api testing in a modular way
  5. We will create a logging function for our application.
  6. We will try to handle exceptions at each and every step.

DATA COLLECTION AND UNDERSTANDING

    We will be using Algerian forest fie dataset from UCI Machine Learning Repository. The dataset contains 244 instances of forest fire observations for two regions of Algeria: the Bejaia region and the Sidi Bel-Abbes region. The timeline of this dataset is from June 2012 to September 2012. In this project, we will focus on whether certain weather features can predict forest fires in these regions using few classification techniques and Fire Weather Index (FWI) Index using regression techniques.

EXPLORATORY DATA ANALYSIS

  Exploratory Data Analysis or EDA is used to take insights from the data. Data Scientists and Analysts try to find different patterns, relations, and anomalies in the data using some statistical graphs and other visualization techniques. We will perform the below steps as part of EDA:

  1. Missing or null values
  2. Numercial and Categorical Variables
  3. Distribution of Numerical Variables
  4. Outliers
  5. Realtionships between Independent and Dependent Features
  6. Correaltion between Independent and Dependent Features

Importing Libraries

In [109]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from warnings import filterwarnings
filterwarnings('ignore')

Storing the Dataset into MongoDB Database

  1. Importing Pymongo library to connect with MongoDB Atlas Cloud

In [110]:
from pymongo import MongoClient

In [111]:
# Establish a connection to a MongoDB Atlas Cluster with Secured Authentication using User Name and Password of the Database
client = MongoClient("mongodb+srv://subramanyachel:subramanya1478@algerian-forest-fire-db.qk9hooc.mongodb.net/?retryWrites=true&w=majority")
# Create Database and specify name of database
db = client.get_database('Algerian-forest-fire-DB')
# Create a collection
records = db.fire_records

In [112]:
# Create Dataframe and Read the dataset using Pandas
data = pd.read_csv('Algerian_forest_fires_dataset_UPDATE.csv', header=1)
data.head()

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes
0,01,06,2012,29,57,18,0,65.7,3.4,7.6,1.3,3.4,0.5,not fire
1,02,06,2012,29,61,13,1.3,64.4,4.1,7.6,1,3.9,0.4,not fire
2,03,06,2012,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1,not fire
3,04,06,2012,25,89,13,2.5,28.6,1.3,6.9,0,1.7,0,not fire
4,05,06,2012,27,77,16,0,64.8,3,14.2,1.2,3.9,0.5,not fire

In [113]:
# Convert Dataframe into Dictionary as MongoDB stores data in records/documents
data = data.to_dict(orient = 'records')

In [114]:
# Insert records in the dataset into MongoDB collection "hotel_records"
db.fire_records.insert_many(data)
print("All the Data has been Exported to MongoDB Successfully")

All the Data has been Exported to MongoDB Successfully

 Loading Data from Mongo DB

In [115]:
#Load all records from MongoDB using find()
all_records = records.find()
print(all_records)

<pymongo.cursor.Cursor object at 0x00000219369254B0>

In [116]:
#Convert Cursor Object into list
list_cursor = list(all_records)

In [117]:
#Convert list into Dataframe
dataframe = pd.DataFrame(list_cursor)
dataframe.drop('_id', axis=1, inplace=True)
dataframe

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes
0,01,06,2012,29,57,18,0,65.7,3.4,7.6,1.3,3.4,0.5,not fire
1,02,06,2012,29,61,13,1.3,64.4,4.1,7.6,1,3.9,0.4,not fire
2,03,06,2012,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1,not fire
3,04,06,2012,25,89,13,2.5,28.6,1.3,6.9,0,1.7,0,not fire
4,05,06,2012,27,77,16,0,64.8,3,14.2,1.2,3.9,0.5,not fire
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241,26,09,2012,30,65,14,0,85.4,16,44.5,4.5,16.9,6.5,fire
242,27,09,2012,28,87,15,4.4,41.1,6.5,8,0.1,6.2,0,not fire
243,28,09,2012,27,87,29,0.5,45.9,3.5,7.9,0.4,3.4,0.2,not fire
244,29,09,2012,24,54,18,0.1,79.7,4.3,15.2,1.7,5.1,0.7,not fire
245,30,09,2012,24,64,15,0.2,67.3,3.8,16.5,1.2,4.8,0.5,not fire

In [118]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 246 entries, 0 to 245
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   day          246 non-null    object
 1   month        245 non-null    object
 2   year         245 non-null    object
 3   Temperature  245 non-null    object
 4    RH          245 non-null    object
 5    Ws          245 non-null    object
 6   Rain         245 non-null    object
 7   FFMC         245 non-null    object
 8   DMC          245 non-null    object
 9   DC           245 non-null    object
 10  ISI          245 non-null    object
 11  BUI          245 non-null    object
 12  FWI          245 non-null    object
 13  Classes      244 non-null    object
dtypes: object(14)
memory usage: 27.0+ KB

We can observe from the above code that all the columns are of object type and we need to convert them to numeric type  for further analysis.

Data Cleaning Process

In [119]:
dataframe[dataframe.isnull().any(axis=1)]

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes
122,Sidi-Bel Abbes Region Dataset,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
167,14,07,2012,37,37,18,0.2,88.9,12.9,14.6 9,12.5,10.4,fire,NaN

The dataset is bifurcated into two sets based on regions from the 122th index, we can create a new column based on the Region

1 : "Bejaia Region Dataset"

2 : "Sidi-Bel Abbes Region Dataset"

Add new column with region

In [120]:
dataframe.loc[:122,'Region']=1
dataframe.loc[122:,'Region']=2
dataframe[['Region']] = dataframe[['Region']].astype(int)

In [121]:
dataframe.isnull().sum()

day            0
month          1
year           1
Temperature    1
 RH            1
 Ws            1
Rain           1
FFMC           1
DMC            1
DC             1
ISI            1
BUI            1
FWI            1
Classes        2
Region         0
dtype: int64

In [122]:
# Remove null or na values from the rows
dataframe = dataframe.dropna().reset_index(drop=True) 
dataframe.shape

(244, 15)

In [123]:
# Column which contains string values
dataframe.iloc[[122]]

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes,Region
122,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes,2

In [124]:
#We will drop the row at index 122 as it contains string values
dataframe = dataframe.drop(122).reset_index(drop=True)

In [125]:
#We will now list the columns of the dataframe
dataframe.columns

Index(['day', 'month', 'year', 'Temperature', ' RH', ' Ws', 'Rain ', 'FFMC',
       'DMC', 'DC', 'ISI', 'BUI', 'FWI', 'Classes  ', 'Region'],
      dtype='object')

In [127]:
#We can observe that there are spaces in the column names, we will remove that space from column names
dataframe.columns = dataframe.columns.str.strip()
dataframe.columns

Index(['day', 'month', 'year', 'Temperature', 'RH', 'Ws', 'Rain', 'FFMC',
       'DMC', 'DC', 'ISI', 'BUI', 'FWI', 'Classes', 'Region'],
      dtype='object')

In [129]:
dataframe[['month', 'day', 'year', 'Temperature','RH', 'Ws']] = dataframe[['month', 'day', 'year', 'Temperature','RH', 'Ws']].astype('int64')

In [130]:
object_data = [features for features in dataframe.columns if dataframe[features].dtypes=='O']
for object in object_data:
    if object != 'Classes':
        dataframe[object] = dataframe[object].astype(float)

In [131]:
# Final datatypes check
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 243 entries, 0 to 242
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   day          243 non-null    int64
 1   month        243 non-null    int64
 2   year         243 non-null    int64
 3   Temperature  243 non-null    int64
 4   RH           243 non-null    int64
 5   Ws           243 non-null    int64
 6   Rain         243 non-null    float64
 7   FFMC         243 non-null    float64
 8   DMC          243 non-null    float64
 9   DC           243 non-null    float64
 10  ISI          243 non-null    float64
 11  BUI          243 non-null    float64
 12  FWI          243 non-null    float64
 13  Classes      243 non-null    object
 14  Region       243 non-null    int32
dtypes: float64(7), int32(1), int64(6), object(1)
memory usage: 27.7+ KB

In [132]:
# We will now take a look at the summary statistics of our dataframe
dataframe.describe().T

,count,mean,std,min,25%,50%,75%,max
day,243.0,15.761317,8.842552,1.0,8.00,16.0,23.00,31.0
month,243.0,7.502058,1.114793,6.0,7.00,8.0,8.00,9.0
year,243.0,2012.000000,0.000000,2012.0,2012.00,2012.0,2012.00,2012.0
Temperature,243.0,32.152263,3.628039,22.0,30.00,32.0,35.00,42.0
RH,243.0,62.041152,14.828160,21.0,52.50,63.0,73.50,90.0
Ws,243.0,15.493827,2.811385,6.0,14.00,15.0,17.00,29.0
Rain,243.0,0.762963,2.003207,0.0,0.00,0.0,0.50,16.8
FFMC,243.0,77.842387,14.349641,28.6,71.85,83.3,88.30,96.0
DMC,243.0,14.680658,12.393040,0.7,5.80,11.3,20.80,65.9
DC,243.0,49.430864,47.665606,6.9,12.35,33.1,69.10,220.4
ISI,243.0,4.742387,4.154234,0.0,1.40,3.5,7.25,19.0
BUI,243.0,16.690535,14.228421,1.1,6.00,12.4,22.65,68.0
FWI,243.0,7.035391,7.440568,0.0,0.70,4.2,11.45,31.1
Region,243.0,1.497942,0.501028,1.0,1.00,1.0,2.00,2.0

Data Cleaning of our Target Variable

In [133]:
dataframe['Classes'].value_counts()

fire             131
not fire         101
fire               4
fire               2
not fire           2
not fire           1
not fire           1
not fire           1
Name: Classes, dtype: int64

In [138]:
dataframe.Classes = dataframe.Classes.str.strip()

In [139]:
dataframe['Classes'].value_counts()

fire        137
not fire    106
Name: Classes, dtype: int64

Region 1 (Bejaia Region)

In [140]:
dataframe[:122]

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes,Region
0,1,6,2012,29,57,18,0.0,65.7,3.4,7.6,1.3,3.4,0.5,not fire,1
1,2,6,2012,29,61,13,1.3,64.4,4.1,7.6,1.0,3.9,0.4,not fire,1
2,3,6,2012,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1,not fire,1
3,4,6,2012,25,89,13,2.5,28.6,1.3,6.9,0.0,1.7,0.0,not fire,1
4,5,6,2012,27,77,16,0.0,64.8,3.0,14.2,1.2,3.9,0.5,not fire,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117,26,9,2012,31,54,11,0.0,82.0,6.0,16.3,2.5,6.2,1.7,not fire,1
118,27,9,2012,31,66,11,0.0,85.7,8.3,24.9,4.0,9.0,4.1,fire,1
119,28,9,2012,32,47,14,0.7,77.5,7.1,8.8,1.8,6.8,0.9,not fire,1
120,29,9,2012,26,80,16,1.8,47.4,2.9,7.7,0.3,3.0,0.1,not fire,1
121,30,9,2012,25,78,14,1.4,45.0,1.9,7.5,0.2,2.4,0.1,not fire,1

Region 2 (Sidi-Bel Abbes Region)

In [141]:
dataframe[122:]

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes,Region
122,1,6,2012,32,71,12,0.7,57.1,2.5,8.2,0.6,2.8,0.2,not fire,2
123,2,6,2012,30,73,13,4.0,55.7,2.7,7.8,0.6,2.9,0.2,not fire,2
124,3,6,2012,29,80,14,2.0,48.7,2.2,7.6,0.3,2.6,0.1,not fire,2
125,4,6,2012,30,64,14,0.0,79.4,5.2,15.4,2.2,5.6,1.0,not fire,2
126,5,6,2012,32,60,14,0.2,77.1,6.0,17.6,1.8,6.5,0.9,not fire,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
238,26,9,2012,30,65,14,0.0,85.4,16.0,44.5,4.5,16.9,6.5,fire,2
239,27,9,2012,28,87,15,4.4,41.1,6.5,8.0,0.1,6.2,0.0,not fire,2
240,28,9,2012,27,87,29,0.5,45.9,3.5,7.9,0.4,3.4,0.2,not fire,2
241,29,9,2012,24,54,18,0.1,79.7,4.3,15.2,1.7,5.1,0.7,not fire,2
242,30,9,2012,24,64,15,0.2,67.3,3.8,16.5,1.2,4.8,0.5,not fire,2

In [142]:
dataframe.to_csv('Algerian_forest_fires_dataset_CLEANED.csv', index=False)

Exploratory Data Analysis (EDA)

In [143]:
#Droping Year features 
df = dataframe.drop(['day','month','year'], axis=1)

In [144]:
df['Classes'] = df['Classes'].map({'not fire':0, 'fire':1})

In [145]:
df['Classes'].value_counts()

1    137
0    106
Name: Classes, dtype: int64